<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/imperativeFiction/imperativeFiction-Stdout.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>1</maxIndex>
            <FileNamePattern>
                /imperativeFiction/imperativeFiction-Stdout.log.%i
            </FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="org.impertiveFiction" level="DEBUG">
        <appender-ref ref="file"/>
        <appender-ref ref="CONOSLE"/>
    </logger>

    <logger name="org.impertiveFiction.presentations" level="DEBUG">
        <appender-ref ref="file"/>
        <appender-ref ref="CONOSLE"/>
    </logger>


    <root level="WARN">
        <appender-ref ref="file"/>
        <appender-ref ref="CONOSLE"/>
    </root>
</configuration>
